{% extends 'base.html' %}

{% block title %}Добавление закладки{% endblock %}

{% block content %}
<div class="container">
    <h1>Добавление закладки</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="url">URL закладки:</label>
            <input type="text" name="url" class="form-control" placeholder="Введите URL">
        </div>
        <button type="submit" class="btn btn-primary">Добавить закладку</button>
    </form>
</div>
{% endblock %}
