{% extends 'base.html' %}

{% block title %}Список закладок{% endblock %}

{% block content %}
<div class="container">
  <h1>Добавление закладки</h1>
  <form method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="url">URL закладки:</label>
          <input type="text" name="url" class="form-control" placeholder="Введите URL">
      </div>
      <button type="submit" class="btn btn-primary">Добавить закладку</button>
  </form>
  {% if error_message %}
  <p style="background-color: red;">{{ error_message }}</p>
  {% endif %}
</div>
<div class="container">
    <h1>Список закладок</h1>
    <ul>
        {% for bookmark in bookmarks %}
              <li>
                  <h2>URL: {{bookmark.url}}</h2>
                  <h3>Title:</h3> {{ bookmark.title }}
                  <h3>Description:</h3> {{ bookmark.description }}
                  <h3>Image: <img src="{{ bookmark.favicon }}" alt="Favicon"></h3>
                  <a href="{% url 'delete_bookmark' bookmark.id %}">Удалить</a>
              </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
